* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  background: #60ee7a;
  transition: background-color 300ms ease-in-out;
  line-height: 1.5;
}

.container {
  max-width: 580px;
  margin: 0 auto;
}

.working {
  background: #ef5d50;
  transition: background-color 300ms ease-in-out;
}

.hidden {
  display: none;
}

.pomodoro {
  background: #75e289;
  margin: 50px 20px;
  padding: 20px;
  border-radius: 6px;
  font-weight: bold;
  box-shadow: 0 0 10px rgba(0, 0, 0, .1);
  transition: background-color 300ms ease-in-out;
  color: #fff;
}

.working .pomodoro {
  background: #ee766c;
  color: #fff;
}

.pomodoro h2 {
  font-size: 24px;
  text-align: center;
  font-weight: bold;
}
.pomodoro .timer {
  font-size: 6rem;
  text-align: center;
  font-weight: bold;
}

.pomodoro .controls {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.pomodoro button {
  background: #fff;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  padding: 10px 25px;
  color: #75e289;
  font-size: 18px;
  font-weight: bold;
  transition: background-color 300ms ease-in-out;
  margin: 20px auto;
}

.pomodoro button:hover {
  background: #f9f9f9;
}

.working .pomodoro button {
  background: #fff;
  color: #ef5d50;
}

.working .pomodoro button:hover {
  background: #f9f9f9;
}

.pomodoro .details {
  margin: 20px 0;
}
